
{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href='{% static "css/index.css" %}'>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  var login = "{% url 'core.login' %}"  
  var logout = "{% url 'core.logout' %}"  

</script>
{% block content %}

    <style type="text/css">
        
        body {
          background: #56baed; 
        }
    </style>
 <body>
       
            <nav class="navbar back" style="background: #a1d038 ">
                <a href="{% url 'core.index' %}" class="text-white">
                Hotel 
                </a>

                <a href="{% url 'core.index' %}" class="text-white">
                  Hola, {{ user.first_name }}
                </a>
                {% if user.is_authenticated == False %}
                 <button  class="btn btn_sucess" onclick="window.location.href=login">
                   Login</button>
                {% endif %}

                {% if user.is_authenticated %}
                  <button class="btn btn_sucess" onclick="window.location.href=logout" >
                 Cerrar Sesion</button>
                {% endif %}

                
            </nav>

            <div class="container">
            <div class="row mt-4">
              <div class="col-md-6">
                  
                  <div class="card">
                     <form class="card-body">
                        <div class="form-group" align="center">
                           <label>Formulario de Reservacion</label>
                        </div>

                         <div id="contenido" style="display: none;" class="alert alert-primary" role="alert">
                          <span name="message" id="message"></span>
                        </div>

                        <div class="form-group">
                            <input type="text" id="full_name"
                            name="full_name" class="form-control" placeholder="Nombre Completo">
                            </input>
                        </div>


                         <p align="center">Fecha Nacimiento</p>
                           <input class="form-control" id="date_birth" type="text"  name="date_birth" placeholder="YYYY-MM-DD"><br><br>

                         <div class="form-group">
                             <select class="form-control" id="gender" name="gender">
                                <option value=0>[Genero]</option>
                                <option value=1>Femenino</option>
                                <option value=3>Masculino</option>
                              </select>  
                            </div>


                         <div class="form-group">
                             <select class="form-control" id="type_document_id" name="type_document_id">
                                <option value=0>[Tipo de Documento]</option>
                                  {% for item in type_document %}
                                     <option value="{{ item.id }}">{{ item.name }}</option>
                                   {% endfor %} 
                              </select>  
                            </div>

                        <div class="form-group">
                            <input type="text" id="number_document"
                            name="number_document" class="form-control" placeholder="Numero de Documento">
                            </input>
                        </div>


                        <div class="form-group">
                            <input type="text" id="phone"
                            name="phone" class="form-control" placeholder="Telefono">
                            </input>
                        </div>


                        <div class="form-group">
                            <input type="text" id="email"
                            name="email" class="form-control" placeholder="Email">
                            </input>
                        </div>

                         <p align="center">Fecha Inicio</p>
                           <input class="form-control" id="date_initial" type="text"  name="date_initial" placeholder="YYYY-MM-DD"><br><br>

                            <p align="center">Fecha Final</p>
                           <input class="form-control" id="date_end" type="text"  name="date_end" placeholder="YYYY-MM-DD"><br><br>

                         <p>Observacion:</p>
                            <textarea id="description"
                            name="description" class="form-control" placeholder="Observacion">
                            </textarea><br>
                         
                        
                         
                       
                        
                        <button type="button" onclick="save({{ room.id }})"  class="btn btn-primary">Reservar</button>
                    </form>
                </div>
              </div>

              <div class="col-md-6">

                     <div class="card">
                     <form class="card-body">
                        <div class="form-group" align="center">
                           <label>Detalle de la Habitacion</label>
                        </div>
                         
                        
                         
                        <div>
                            <p>Hotel:  {{ room.hotel.name }}</p>
                        </div>

                        <div>
                            <p>Ciudad:  {{ room.hotel.city.name }}</p>
                        </div>

                         <div>
                            <p>Habitacion:  {{ room.name }}</p>
                        </div>


                         <div>
                            <p>Personas:  {{ room.count_person }}</p>
                        </div>

                         <div>
                            <p>Precio por Noche:  {{ room.price }}</p>
                        </div>

                         <div>
                            <p>Observacion:</p>
                            <p>{{ room.description }}</p>
                        </div>
                    </form>
                </div>

               
              </div>
            </div>
          </div>

    </body>
{% endblock %}



<script type="text/javascript">
  


    async function save(id) {
      
      let payload = {
        'full_name': $("#full_name").val(),
        'date_birth': $("#date_birth").val(),
        'gender': $("#gender").val(),
        'type_document_id': $("#type_document_id").val(),
        'number_document': $("#number_document").val(),
        'email': $("#email").val(),
        'phone': $("#phone").val(),
        'description': $("#description").val(),
        'date_initial': $("#date_initial").val(),
        'date_end': $("#date_end").val(),
        'type_room_id':id
      };

      let csrftoken = getCookie('csrftoken');
      var url = window.location.origin+"/guest/";

          fetch(url, {
            method: "POST",
            body: JSON.stringify(payload),
            headers: { "X-CSRFToken": csrftoken,'Content-Type': 'application/json' },
        }).then(res => {
            if (res.status == 200) {
              res.json().then(jdata => {
                  var url = window.location.origin+"/detail_reservation/"+jdata.message
                  window.location.href=url;
              });
            }else{
              res.json().then(jdata => {
                  var el = document.getElementById("contenido"); //se define la variable "el" igual a nuestro div
                  el.style.display =  'block' ; //damos un atributo display:none que oculta el div
                  var el2 = document.getElementById("message");
                  el2.innerHTML=jdata.message;
              });
              

            }
        });
      
  }


  //   async function all() {
  //     let csrftoken = getCookie('csrftoken');
  //     console.log(window.location.origin)
  //     var url = window.location.origin+"/reservation/";
  //     console.log(url)
  //     window.location.href=url;
      
  // }


  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>





